button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #858ef2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #cd62f8;
}